.ep-title, .ep-tags, .ep-header, .ep-content {
    width: 100%;
    box-sizing: border-box;
    padding: 3px;
    margin-top: 5px;
    border: 0;
    border-radius: 8px;
}
.ep-content {
    height: 300px;
}
.edit-post-form Button {
    font-size: 12px;
    padding: 1px 5px 1px 5px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background: rgba(230, 230, 230, 1);
}
.edit-post-form Button:hover {
    color: white;
    background: rgba(0, 0, 0, 1);
}