.login-container {
    height: 100vh;
    padding: 5px;
    display: flex;
    justify-content: center;
    place-items: center;
    /*background-image: url("../../assets//background/scattered-forcefields.svg");*/
    object-fit: cover;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M409.32 233.07L453.68 233.07L453.68 241.29L409.32 241.29z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M282.17 512.25 a50.39 50.39 0 1 0 100.78 0 a50.39 50.39 0 1 0 -100.78 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M568.28 63.55L613.05 63.55L613.05 92.86L568.28 92.86z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1320.63-41.2a49.71 49.71 0 1 0 9.08 99z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M183.25 261.02 a25.88 25.88 0 1 0 51.76 0 a25.88 25.88 0 1 0 -51.76 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1356.08 532.11L1365.78 532.11L1365.78 570.79L1356.08 570.79z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M329.92 253.7a0.79 0.79 0 1 0 0.94-1.27z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M196.77 403.89L198.56 403.89L198.56 405.68L196.77 405.68z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M80.81 270.07a11.52 11.52 0 1 0 11.35-20.04z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M460.52 21.57L506.41 21.57L506.41 67.46L460.52 67.46z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1072.9 510.98L1120.66 510.98L1120.66 558.74L1072.9 558.74z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M19.72 205.9L42.41 205.9L42.41 228.59L19.72 228.59z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M195.72 555.18 a54.61 54.61 0 1 0 109.22 0 a54.61 54.61 0 1 0 -109.22 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1173.82 111.24L1224.7 111.24L1224.7 126.54L1173.82 126.54z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M143.45 410.49 a37.09 37.09 0 1 0 74.18 0 a37.09 37.09 0 1 0 -74.18 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M69.24 375.21L106.24 375.21L106.24 388.2L69.24 388.2z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1312.56 477.62 a25.36 25.36 0 1 0 50.72 0 a25.36 25.36 0 1 0 -50.72 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M133.21 198.2a40.56 40.56 0 1 0 81-4.28z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1132.91 544.69a34.87 34.87 0 1 0 54.2-43.9z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M670.26 445.32 a50.03 50.03 0 1 0 100.06 0 a50.03 50.03 0 1 0 -100.06 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1280.59 508.19L1302.85 508.19L1302.85 513.88L1280.59 513.88z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M907.46 84.29a46.63 46.63 0 1 0-53.38 76.47z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M91.12 362.54a4.19 4.19 0 1 0 3.82 7.46z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M89.18 452.43L111.06 452.43L111.06 474.31L89.18 474.31z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M948.94 297.59L985.03 297.59L985.03 341.53L948.94 341.53z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M707.15 565.87a29.56 29.56 0 1 0 3.06-59.04z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1387.48 463.09L1407.13 463.09L1407.13 482.74L1387.48 482.74z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1286.85 449.32L1308.5 449.32L1308.5 479.07L1286.85 479.07z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M389.69 190.32a11.31 11.31 0 1 0 2.96 22.42z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M149.46 480.81a53.15 53.15 0 1 0-72.65-77.6z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1140.4 422.55a16.02 16.02 0 1 0-11.9-29.75z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1262.78 58.26L1307.82 58.26L1307.82 77.06L1262.78 77.06z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M478.36 130.3L521.17 130.3L521.17 173.11L478.36 173.11z' fill='%23e73635'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }
  .login-form {
    max-width: 320px;
    padding: 20px;
    /*background-image: url("../../assets/background/18773559_6036084.jpg");*/
    object-fit: cover;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 26px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M648.857%2c689.639C692.956%2c689.536%2c723.035%2c650.775%2c745.462%2c612.804C768.422%2c573.931%2c789.881%2c527.738%2c767.709%2c488.41C745.287%2c448.639%2c694.485%2c439.845%2c648.857%2c441.45C606.497%2c442.94%2c564.553%2c459.415%2c543.651%2c496.289C522.997%2c532.724%2c531.449%2c576.469%2c551.466%2c613.258C572.6%2c652.099%2c604.638%2c689.742%2c648.857%2c689.639' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M853.638%2c141.281C873.498%2c141.342%2c894.988%2c137.37%2c905.109%2c120.283C915.373%2c102.954%2c910.788%2c80.745%2c899.288%2c64.21C889.283%2c49.824%2c871.155%2c46.728%2c853.638%2c46.273C834.964%2c45.788%2c814.307%2c46.359%2c803.687%2c61.727C791.856%2c78.848%2c791.644%2c102.344%2c802.71%2c119.969C813.198%2c136.673%2c833.914%2c141.221%2c853.638%2c141.281' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M650.8764697856573 250.55918605259996L520.9670136205914 311.1369603291213 711.4542440621785 380.4686422176658z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1046.751%2c102.628C1065.216%2c102.986%2c1084.42%2c97.271%2c1093.89%2c81.416C1103.562%2c65.224%2c1100.323%2c45.049%2c1090.904%2c28.708C1081.472%2c12.344%2c1065.637%2c-0.615%2c1046.751%2c-0.371C1028.209%2c-0.131%2c1013.48%2c13.582%2c1004.533%2c29.825C995.94%2c45.426%2c993.742%2c64.237%2c1002.677%2c79.645C1011.585%2c95.007%2c1028.996%2c102.283%2c1046.751%2c102.628' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M304.107%2c276.518C327.689%2c274.906%2c346.058%2c258.411%2c357.845%2c237.923C369.593%2c217.501%2c374.621%2c193.343%2c364.079%2c172.273C352.397%2c148.926%2c330.184%2c131.754%2c304.107%2c130.524C275.879%2c129.193%2c247.812%2c141.765%2c233.469%2c166.114C218.93%2c190.796%2c220.495%2c222.128%2c235.934%2c246.258C250.296%2c268.705%2c277.521%2c278.336%2c304.107%2c276.518' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1072.3568149876965 137.58294450849982L1061.5755050456332 198.72679157458703 1158.6819306157956 184.32683295463835z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  }
  .login-form:hover {
    padding: 15px;
    border-radius: 28px;
  }
  .login-form h1 {
    font-size: 18px;
  }
  .login-form label {
    font-size: 16px;
    float: left;
    padding: 2px;
  }
  .txtemail {
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .txtpassword {
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .login-form .txtemail, .login-form .txtpassword {
    font-size: 15px;
    width: 100%;
    margin: 0 0 3px 0;
    box-sizing: border-box;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    transition: 0.4s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .login-form .txtemail:focus, .login-form .txtpassword:focus {
    outline: 1px solid #0083B0;
    background: white;
  }
  .login-form .txtemail:hover, .login-form .txtpassword:hover {
    font-size: 18px;
  }
  .btn-login {
    width: 100%;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 12px;
    background:#0083B0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 8px;
    border: 0;
    border-radius: 15px;
  }
  .btn-login:hover {
    border: 1px solid #0083B0;
    border-radius: 16px;
    transition: 0.4s ease-in-out;
  }
  .toggle-signup {
    font-size: 15px;
    border: 1px solid #0083B0;
    border-radius: 15px;
    padding: 5px;
    margin: 8px;
    position: fixed;
    top: 0;
    right: 0;
    background: white;
  }
  .toggle-signup:hover {
    color: white;
    background: linear-gradient(130deg, #00B4DB, #0083B0);
  }