.music-room-container {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    background: transparent;
    backdrop-filter: blur(15px);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
  }
  img {
    background-size: cover;
  }
  .music-item-container {
    min-width: 688px;
    max-width: 690px;
    min-height: 400px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    object-fit: cover;
    border-radius: 12px;
    background-size:cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    overflow: hidden;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    resize: both;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
  }
  .music-item-blur {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .m1-div-left {
    min-width: 360px;
    max-width: 480px;
    height: 100%;
  }
  .m1-div-right {
    min-width: 320px;
    max-width: 480px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .music-post-owner, .music-post-owner Link {
    padding: 3px;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  .music-post-owner .photo {
    width: 25px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    border-radius: 50%;
  }
  .music-post-owner .photo:hover {
    transform: scale(1.1);
  }
  .music-post-owner span {
    font-size: 15px;
    height: 100%;
    animation: chameleon 30s linear infinite;
  }
  .music-post-owner Button {
    float: right;
  }
  .music-post-owner .btn-show-option {
    float: right;
  }
  .music-post-owner Button img {
    width: 20px;
    height: 20px;
  }
  .btn-show-option {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    padding: 5px;
    border: 0;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
  }
  .music-item-option {
    max-width: 140px;
    display: flex;
    position: absolute;
    z-index: 3;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    right: 0;
    overflow: hidden;
    border-radius: 8px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3));
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
  }
  .music-item-option Button {
    width: auto;
    font-size: 12px;
    padding: 3px;
    margin: 3px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 12px;
    background: rgba(255, 255, 255, 1);
  }
  .music-item-option .btn-hide:hover, .music-item-option .btn-edit:hover {
    color: white;
    background: rgba(0, 0, 0, 0.7);
  }
  .music-item-option .btn-delete:hover {
    background: rgba(255, 0, 0, 1);
  }
  .music-post-owner img {
    width: 50px;
    border-radius: 50%;
  }
  .music-post-owner .btn-show-option img {
    width: 15px;
    height: 15px;
  }
  .music-post-file {
    width: 100%;
    border: 0;
    box-sizing: border-box;
  }
  .music-post-file h1 {
    font-size: 18px;
    margin: 1px 1px 5px 1px;
    padding: 1px;
    animation: chameleon 30s linear infinite;
  }
  .music-post-file img {
    width: 120px;
    height: 120px;
    margin: auto;
    background-size: cover;
    border-radius: 100%;
  }
  @keyframes spinnerAlbum {
    0% {
    transform: rotate(0deg);
    border: 3px solid rgba(0, 0, 0, 1);
    border-bottom-left-radius: 25%;
    }
    10% {
      border: 3px solid rgba(255, 0, 0, 1);
      border-top-right-radius: 25%;
    }
    20% {
      border: 3px solid rgba(255, 165, 0, 1);
      border-bottom-right-radius: 25%;
    }
    30% {
      border: 3px solid rgba(0, 255, 0, 1);
      border-bottom-left-radius: 25%;
    }
    40% {
      border: 3px solid rgba(0, 255, 165, 1);
      border-top-left-radius: 25%;
    }
    50% {
      border: 3px solid rgba(0, 255, 255);
      border-top-right-radius: 25%;
    }
    60% {
      border: 3px solid rgba(0, 0, 255, 1);
      border-bottom-right-radius: 25%;
    }
    80% {
      border: 3px solid blueviolet;
      border-bottom-left-radius: 25%;
    }
    100% {
    transform: rotate(360deg);
    border: 3px solid rgba(0, 0, 0, 1);
    border-bottom-left-radius: 25%;
    }
  }
  @keyframes chameleon {
    12% {
      color: rgba(0, 255, 165, 1);
    }
    24% {
      color: cyan;
    }
    36% {
      color: blue;
    }
    48% {
      color: blueviolet;
    }
    60% {
      color: red;
    }
  }
  .music-post-file audio {
    box-sizing: border-box;
    background: transparent;
  }
  .music-button-control {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
  }
  .music-lyrics-prompt {
    width: 100%;
    height: 70%;
    margin: 3px;
    border-radius: 12px;
    margin-top: 30px;
    box-sizing: border-box;
    overflow-y: scroll;
  }
  .music-lyrics-prompt p::-webkit-scrollbar {
    display: none;
    visibility: hidden;
  }
  .music-lyrics-prompt::-webkit-scrollbar-button {
    display: none;
    border: 1px solid black;
  }
  .music-lyrics-prompt:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .music-lyrics-prompt p {
    font-size: 15px;
    height: 100%;
    padding: 3px;
    text-align: center;
    word-wrap: break-word;
    word-break: keep-all;
    animation: chameleon 30s linear infinite;
  }
  .music-time-control {
    visibility: hidden;
    min-width: 320px;
    height: 30px;
    position: fixed;
    bottom: 0;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    gap: 2px;
    align-items: center;
    padding: 0 8px 0 8px;
    box-sizing: border-box;
  }
  .music-volume-control {
    display: none;
  }
  .audio-slider, .volume-slider {
    visibility: hidden;
    width: 80%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 1px;
    background: rgba(0, 255, 165, 1);
    border: 0px solid rgba(0, 0, 255, 1);
    border-radius: 8px;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .audio-slider::-webkit-slider-thumb, .volume-slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 5px solid rgba(0, 255, 165, 1);
    border-radius: 100%;
    cursor: pointer;
    background: black;
  }
  .music-button-control Button {
    display: flex;
    justify-content: center;
    background: transparent;
    border: 0;
    width: auto;
    height: auto;
    padding: 10px;
  }
  .music-button-control Button img {
    width: 20px;
    height: 20px;
    object-fit: fill;
  }
  .music-button-control .btnPlayPause img {
    width: 25px;
    height: 25px;
  }
  .music-soundwave{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .music-soundwave .wave {
    width: 10px;
    height: 100%;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 0.8s linear infinite;
  }
  @keyframes animate {
    0%{
      height: 10%;
      background: rgba(255, 0, 0, 1);
    }
    15%{
      height: 15%;
      background: rgba(255, 165, 0, 1);
    }
    30%{
      height: 30%;
      background: rgba(255, 255, 0, 1);
    }
    50%{
      height: 80%;
      background: rgba(0, 255, 0, 1);
    }
    70%{
      height: 30%;
      background: rgba(255, 0, 255, 1);
    }
    85%{
      height: 15%;
      background: indigo;
    }
    100%{
      height: 0%;
      background: rgba(0, 0, 255, 1);
    }
  }
  .wave:nth-child(1){
    animation-delay: 0s;
  }
  .wave:nth-child(2){
    animation-delay: 0.1s;
  }
  .wave:nth-child(3){
    animation-delay: 0.2s;
  }
  .wave:nth-child(4){
    animation-delay: 0.1s;
  }
  .wave:nth-child(5){
    animation-delay: 0s;
  }
  .wave:nth-child(6){
    animation-delay: 0.1s;
  }
  .wave:nth-child(7){
    animation-delay: 0.2s;
  }
  .wave:nth-child(8){
    animation-delay: 0.1s;
  }
  .wave:nth-child(9){
    animation-delay: 0s;
  }
  .wave:nth-child(10){
    animation-delay: 0.0s;
  }
  .music-post-actions {
    min-width: 320px;
    display: flex;
    justify-content: center;
    padding: 2px;
    position: fixed;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
  }
  .music-post-actions:hover {
    backdrop-filter: blur(10px);
    border-radius: 12px;
    margin: 3px;
    padding: 5px;
  }
  .music-post-actions:hover Button {
    background: rgba(255, 255, 255, 0.8);
  }
  .music-post-actions Button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 0;
    border: 0;
    margin-right: 7px;
    text-align: center;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .music-post-actions Button img{
    width: 15px;
    height: 15px;
    background: transparent;
  }
  .music-post-actions-delete {
    background: rgba(255, 0, 0, 1);
  }
  .music-post-actions Button:hover {
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 0;
  }
  .music-card-caption {
    font-size: 12px;
    max-height: 60px;
    margin: 3px;
    border: 0;
    border-radius: 7px;
    backdrop-filter: blur(30px);
    text-align: left;
    background: rgba(255, 255, 255, 0);
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .music-card-caption:hover {
    background: rgba(255, 255, 255, 0.3);
    margin: 3px;
    border-radius: 7px;
  }
  .music-card-caption label {
    font-size: 15px;
  }
  @media only screen and (max-width: 688px) {
    .music-room-container {
      display: flex;
      justify-content: center;
    }
    .music-item-container {
      min-width: 280px;
      max-width: 680px;
      height: auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      object-fit: cover;
      border-radius: 12px;
      background-repeat: no-repeat;
      box-sizing: border-box;
      overflow: hidden;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      resize: none;
    }
    .music-item-blur {
      min-width: 280px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      box-sizing: border-box;
      overflow: hidden;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
    }
    .m1-div-left {
      min-width: 300px;
      height: auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      box-sizing: border-box;
    }
    .m1-div-right {
      min-width: 280px;
      height: 180px;
      box-sizing: border-box;
    }
    .music-time-control {
      min-width: 280px;
      margin-top: 0;
      margin-bottom: 65px;
      box-sizing: border-box;
    }
    .music-time-control input[type=range] {
      width: 260px;
    }
    .music-button-control {
      margin-bottom: 30px;
      box-sizing: border-box;
    }
    .music-lyrics-prompt {
      min-width: 280px;
      max-width: 680px;
      max-height: 80px;
      margin-top: 0;
      margin-bottom: 0;
      overflow-y: scroll;
      box-sizing: border-box;
    }
    .music-lyrics-prompt p {
      min-width: 280px;
      max-height: 80px;
      margin: 3px;
      box-sizing: border-box;
    }
    .music-post-actions {
      width: 100%;
      position: absolute;
      bottom: 0;
      margin: 0;
      background: transparent;
      box-sizing: border-box;
    }
    .music-post-actions:hover Button {
      background: rgba(255, 255, 255, 0.2);
    }
    .music-post-owner {
      min-width: 260px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
    }
    .music-post-owner .photo {
      position: fixed;
      left: 0;
      top: 0;
      margin: 3px;
    }
    .music-post-owner span {
      position: fixed;
      top: 0;
      left: 0;
      margin-top: 8px;
      margin-left: 35px;
    }
    .music-post-owner .btn-show-option {
      position: fixed;
      right: 0;
      top: 0;
      margin-top: 1px;
      margin-right: 5px;
    }
    .music-post-file {
      min-width: 280px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      overflow-x: scroll;
      box-sizing: border-box;
    }
    .music-post-file h1 {
      width: 100%;
    }
    .music-post-file audio {
      box-sizing: border-box;
    }
  }