.signup-container {
    height: 100vh;
    padding: 5px;
    display: flex;
    justify-content: center;
    place-items: center;
    background-image: url("../../assets/background/scattered-forcefields.svg");
    object-fit: cover;
  }
  .signup-form {
    width: 320px;
    padding: 16px;
    /*background-image: url("../../assets//background/18773559_6036084.jpg");*/
    object-fit: fill;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M409.32 233.07L453.68 233.07L453.68 241.29L409.32 241.29z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M282.17 512.25 a50.39 50.39 0 1 0 100.78 0 a50.39 50.39 0 1 0 -100.78 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M568.28 63.55L613.05 63.55L613.05 92.86L568.28 92.86z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1320.63-41.2a49.71 49.71 0 1 0 9.08 99z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M183.25 261.02 a25.88 25.88 0 1 0 51.76 0 a25.88 25.88 0 1 0 -51.76 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1356.08 532.11L1365.78 532.11L1365.78 570.79L1356.08 570.79z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M329.92 253.7a0.79 0.79 0 1 0 0.94-1.27z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M196.77 403.89L198.56 403.89L198.56 405.68L196.77 405.68z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M80.81 270.07a11.52 11.52 0 1 0 11.35-20.04z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M460.52 21.57L506.41 21.57L506.41 67.46L460.52 67.46z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1072.9 510.98L1120.66 510.98L1120.66 558.74L1072.9 558.74z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M19.72 205.9L42.41 205.9L42.41 228.59L19.72 228.59z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M195.72 555.18 a54.61 54.61 0 1 0 109.22 0 a54.61 54.61 0 1 0 -109.22 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1173.82 111.24L1224.7 111.24L1224.7 126.54L1173.82 126.54z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M143.45 410.49 a37.09 37.09 0 1 0 74.18 0 a37.09 37.09 0 1 0 -74.18 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M69.24 375.21L106.24 375.21L106.24 388.2L69.24 388.2z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1312.56 477.62 a25.36 25.36 0 1 0 50.72 0 a25.36 25.36 0 1 0 -50.72 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M133.21 198.2a40.56 40.56 0 1 0 81-4.28z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1132.91 544.69a34.87 34.87 0 1 0 54.2-43.9z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M670.26 445.32 a50.03 50.03 0 1 0 100.06 0 a50.03 50.03 0 1 0 -100.06 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1280.59 508.19L1302.85 508.19L1302.85 513.88L1280.59 513.88z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M907.46 84.29a46.63 46.63 0 1 0-53.38 76.47z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M91.12 362.54a4.19 4.19 0 1 0 3.82 7.46z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M89.18 452.43L111.06 452.43L111.06 474.31L89.18 474.31z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M948.94 297.59L985.03 297.59L985.03 341.53L948.94 341.53z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M707.15 565.87a29.56 29.56 0 1 0 3.06-59.04z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1387.48 463.09L1407.13 463.09L1407.13 482.74L1387.48 482.74z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1286.85 449.32L1308.5 449.32L1308.5 479.07L1286.85 479.07z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M389.69 190.32a11.31 11.31 0 1 0 2.96 22.42z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M149.46 480.81a53.15 53.15 0 1 0-72.65-77.6z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1140.4 422.55a16.02 16.02 0 1 0-11.9-29.75z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1262.78 58.26L1307.82 58.26L1307.82 77.06L1262.78 77.06z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M478.36 130.3L521.17 130.3L521.17 173.11L478.36 173.11z' fill='%23e73635'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }
  .signup-form:hover {
    padding: 15px;
    border-radius: 28px;
  }
  .signup-form h1 {
    font-size: 18px;
    color: ghostwhite;
  }
  .signup-form label {
    font-size: 15px;
    color: ghostwhite;
    float: left;
    width: 100%;
    text-align: left;
  }
  .signup-form label span {
    font-size: 15px;
    color: red;
  }
  .signup-form .text-input, .signup-form .date-input {
    font-size: 15px;
    width: 100%;
    padding: 8px;
    margin: 0 0 5px 0;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    transition: 0.4s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .signup-form .text-input:hover, .signup-form .date-input:hover {
    font-size: 18px;
    background: rgba(255, 255, 255, 1);
  }
  .signup-form .text-input:focus, .signup-form .date-input:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .checkbox-text {
    font-size: 13px;
    text-align: left;
  }
  .btn-signup {
    width: 100%;
    color: black;
    font-size: 15px;
    font-weight: bold;
    background: linear-gradient(130deg, #00B4DB, #0083B0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 7px;
    border: none;
    border-radius: 15px;
    margin-top: 5px;
  }
  .btn-signup:hover {
    border: 1px solid #0083B0;
  }
  .toggle-login {
    font-size: 18px;
    border: 1px solid #92b1bb;
    border-radius: 15px;
    padding: 5px;
    margin: 8px;
    position: fixed;
    top: 0;
    right: 0;
    background: white;
  }
  .toggle-login:hover {
    color: white;
    background: linear-gradient(130deg, #00B4DB, #0083B0);
  }